* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body {
    background-color: #FFF;
}

header {
    font-size: 30px;
    margin: 0 auto;
    color: #E53170;
    padding: 100px;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
}

.sottotitolo {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 60px;
}

li{
    padding: 15px;
}

.nome{
    font-size: 2rem;
    font-weight: 600;
}

ul {
    margin-top: 20px;
    float: left;
    display: inline;
    text-align: left;
    list-style-type: none;
    color: white;
}

img {
    float: left;
}

.column {
    background-color: black;
    float: left;
    width: calc(100% / 3 - 2rem);
    text-align: center;
    margin: 1rem 1rem;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: ' ';
    clear: both;
    display: table;
}