* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body {
    background-color: #FFF;
}

header {
    font-size: 2.5rem;
    margin: 0 auto;
    color: #E53170;
    padding: 100px;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 1800px;
}

.sottotitolo {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 60px;
}

li{
    padding-bottom: 0.6rem;
}

.name{
    font-size: 2rem;
    font-weight: 600;
}

.skill{
    font-size: 1.5rem;
}


ul {
    margin-top: 30px;
    padding: 10px 20px;
    float: left;
    display: inline;
    text-align: left;
    list-style-type: none;
    color: white;
}

img {
    float: left;
}

.column {
    background-color: black;
    float: left;
    width: calc(100% / 3 - 2rem);
    margin: 1rem 1rem;
}

a {
    font-weight: 600;
    font-size: 1.2rem;
    color: #45A9E3;
    text-decoration: none;
}

.clearfix::after {
    content: ' ';
    clear: both;
    display: table;
}